.app-layout {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-column-gap: 30px;
    justify-items: stretch;
    align-items: stretch;

    > nav {
        height: 100vh;
        background: green;
    }
}
